[submodule "scrapy"]
	path = scrapy
	url = git@github.com:andersonfernandes/scrapy.git
	branch = tests-generation-and-type-inference
[submodule "django"]
	path = django
	url = git@github.com:andersonfernandes/django.git
	branch = tests-generation-and-type-inference
