[submodule "scrapy"]
	path = scrapy
	url = git@github.com:andersonfernandes/scrapy.git
	branch = tests-generation-and-type-inference
[submodule "django"]
	path = django
	url = git@github.com:andersonfernandes/django.git
	branch = tests-generation-and-type-inference
[submodule "sentry"]
	path = sentry
	url = git@github.com:andersonfernandes/sentry.git
	branch = tests-generation-and-type-inference
[submodule "ansible"]
	path = ansible
	url = git@github.com:andersonfernandes/ansible.git
	branch = tests-generation-and-type-inference
